<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <connectionStrings>
    <add name="iReserve_Reader" connectionString="Data Source=lpd-0627\SQLEXPRESS; Initial Catalog=db_iReserve; Integrated Security=False; User=iReserve_Reader; Password=p@ss123!!" />
    <add name="iReserve_Writer" connectionString="Data Source=lpd-0627\SQLEXPRESS; Initial Catalog=db_iReserve; Integrated Security=False; User=iReserve_Writer; Password=p@ss456!!" />
    <add name="AACFConnection" connectionString="Data Source=BEAUTIFLY; Initial Catalog=db_UserManagement; Integrated Security=False; User=iReserve_AACFUser; Password=p@ssw0rd!!" />
  </connectionStrings>
  <appSettings>
    <add key="wsAuditTrailComplianceTool.Service" value="http://ho-audittrailtool.pjlhuillier.sit/Service.asmx" />
    <add key="PassKey" value="p@ssw0rd" />
    <add key="DataProvider" value="SqlClient" />
    <add key="EventSource" value="iReserveWS" />
    <!--For Email Notifications-->
    <add key="Email.Sender" value="ireserve@pjlhuillier.com" />
    <add key="Smtp.Client" value="elekid.pjlhuillier.local" />
    <add key="Smtp.Credentials.Username" value="ict-asd" />
    <add key="Smtp.Credentials.Password" value="gne1hexe$" />
    <!--ST/UAT-->
    <add key="DefaultAdminEmailAdd" value="kaesguerra@pjlhuillier.com" />
    <!--PROD-->
    <!--<add key="DefaultAdminEmailAdd" value="reserve@pjlhuillier.com"/>-->
    <!--ST/UAT-->
    <add key="DefaultCCAdminEmailAdd" value="kaesguerra@pjlhuillier.com" />
    <add key="DefaultSOAApproverEmailAdd" value="kaesguerra@pjlhuillier.com" />
    <!--PROD-->
    <!--<add key="DefaultCCAdminEmailAdd" value="convention-aa@pjlhuillier.com" />-->
    <!--<add key="DefaultSOAApproverEmailAdd" value="mdelapena@pjlhuillier.com"--> 
    <!--Error Handling-->
    <add key="EventEnvironment" value="ST"/>
    <add key="EventEmailErrorEnabled" value="true"/>
    <add key="EventEmailTo" value="kaesguerra@pjlhuillier.com"/>
  </appSettings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
        <add value="Service.asmx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="iReserve &lt;ireserve@pjlhuillier.com&gt;" deliveryMethod="Network">
				<network host="192.168.100.164" port="25" userName="ireserve" password="o1!AX%d2" />
			</smtp>
    </mailSettings>
  </system.net>
</configuration>
